<div *ngIf="client" class="container">
    <form>
        <div class="row mb-3">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input #clientName type="text" class="form-control" id="inputName" [(ngModel)]="client.name" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input #clientDescription type="text" class="form-control" id="inputDescription" [(ngModel)]="client.description" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input #clientEmail type="text" class="form-control" id="inputEmail" [(ngModel)]="client.email" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputNotes" class="col-sm-2 col-form-label">Notes</label>
            <div class="col-sm-10">
              <textarea #clientNotes type="text" class="form-control" id="inputNotes" [(ngModel)]="client.notes" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Scope</legend>
          <div class="col-sm-10">
            <div *ngFor="let choice of radioChoices" class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked
                (changed)="radioChangeHandler($event)">
              <label class="form-check-label" for="gridRadios1">
                {{ choice }}
              </label>
            </div>
          </div>
        </fieldset>
            <a routerLink="/clients">
                <button type="submit" class="btn btn-primary" (click)="save(clientName.value, clientDescription.value, clientEmail.value, 'dummy', clientNotes.value)">Update Client</button>
            </a>
      </form>
</div>
